
@{
    ViewBag.Title = "InfoList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>InfoList</h2>
<div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body" style="max-width:100%!important;" >
        <div class="table-responsive" >
            <table class="table table-striped table-bordered table-hover portfolio">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Place</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Facebook</th>
                        <th>Instagram</th>
                        <th>Whatsapp</th>
                        <th>OpenHours1</th>
                        <th>OpenHours2</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.InfoID</td>
                            <td>@item.InfoPlace</td>
                            <td>@item.InfoPhone</td>
                            <td>@item.InfoEmail</td>
                            <td>@item.InfoFacebook</td>
                            <td>@item.InfoInstagram</td>
                            <td>@item.InfoWhatsapp</td>
                            <td>@item.InfoOpenHours1</td>
                            <td>@item.InfoOpenHours2</td>

                            <td style='width: 105px; ' class='text-center'><a href="../../Admin/AboutEdit/@item.InfoID"><i style='margin: 0px 10px; font-size:18px; ' class='fa fa-pencil'></i></a></td>
                            <td style='width: 105px;' class='text-center'><a href="../../Admin/InfoDelete/@item.InfoID"><i style='margin: 0px 10px; font-size:18px;' class='fa fa-trash-o'></i></a></td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

